/* --- Color variables --- */
:root {
	--blue: #81c2c5;
	--grey: #c1d5e4;
	--grey-dark: #819caf;
	--black: #27354a;
	--white: #ffffff;
	--brown: #be845f;
	--brown-light: #d7ab90;
}

body {
	background: var(--blue);
}

/* --- Invisible box container --- */
.box {
	position: relative;
	margin: auto;
	display: block;
	margin-top: 8%;
	width: 600px;
	height: 420px;
	background: none;
}

/* --- Face elements --- */
.head {
	position: absolute;
	top: 16.5%;
	left: 25%;
	width: 50%;
	height: 67%;
	background: var(--grey);
	border-radius: 50%;
	animation: drop 1.5s ease;
}

.head-copy {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--grey);
	border-radius: 50%;
	z-index: 2;
}

.ear-left {
	position: absolute;
	width: 60%;
	height: 65%;
	left: -20%;
	top: 5%;
	background: var(--grey);
	border-radius: 50%;
	z-index: 1;
}

.ear-right {
	position: absolute;
	width: 60%;
	height: 65%;
	right: -20%;
	top: 5%;
	background: var(--grey);
	border-radius: 50%;
	z-index: 1;
}

.inner-ear {
	position: absolute;
	border-radius: 50%;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	background: var(--grey-dark);
	animation: drop 1.5s ease;
}

.eye-left {
	position: absolute;
	background: var(--white);
	width: 30%;
	height: 33%;
	top: 25%;
	left: 21%;
	border-radius: 50%;
	z-index: 3;
}

.eye-right {
	position: absolute;
	background: var(--white);
	width: 30%;
	height: 33%;
	top: 25%;
	right: 21%;
	border-radius: 50%;
	z-index: 3;
}

.pupil {
	position: absolute;
	width: 28%;
	height: 30%;
	top: 35%;
	left: 36%;
	border-radius: 50%;
	background: var(--black);
	animation: drop 1.5s ease;
}

.nose {
	position: absolute;
	background: var(--brown);
    width: 24%;
    height: 28.5%;
    left: 38%;
	top: 45%;
	border-radius: 50px;
	z-index: 4;
}

.nose-inner {
	position: absolute;
	width: 12%;
	height: 13%;
    border-radius: 0 0 100% 100%;
    border-bottom: 2px solid var(--brown-light);
    top: 72%;
    left: 31%;
}

.nose-inner--right {
	transform: translateX(20px);
}

.mouth {
    position: absolute;
    width: 26%;
    height: 8%;
    border-radius: 0% 0% 100% 100%;
    border-bottom: 12px solid var(--grey-dark);
    top: 70%;
    left: 38%;
	z-index: 3;
	animation: drop 1.5s ease;
}

.hair-left {
	position: absolute;
	top: -8%;
	left: 30%;
	width: 20%;
	height: 20%;
	background:  var(--grey);
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.hair-right {
	position: absolute;
	top: -4%;
	left: 48%;
	width: 20%;
	height: 20%;
	background:  var(--grey);
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* --- Keyframes for animation --- */
@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-13.5px) scale(1.25);
	}

	50% {
		opacity: 0.5;
		transform: translateY(-10px) scale(1.1);
	}

	100% {
		opacity: 1;
		transform: translateY(0px) scale(1);
	}
}

/* --- Media queries --- */
@media screen and (max-width: 600px) {
	.box{
	  position: relative;
	  margin: auto;
	  display: block;
	  margin-top: 2%;
	  width: 400px;
	  height: 280px;
	  background: none;
	}
}